/* Home Page Styles */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  transition: height 4s;
  height: 70%
}

#navigation {
  text-align:center;
  outline: orange solid 3px;
} 

#inside-nav {
  display:inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  outline:blue solid 2px;
  color: grey;
  cursor: pointer;
  width: 276px;
}

#about {
  /* outline: blue solid 2px; */
  margin-right: 4%;
  /* outline:deeppink solid 2px; */

}

#about:hover {
  opacity:0.7;
}

#work {
  margin-right: 4%;
  /* outline:deeppink solid 2px; */

}

#work:hover {
  opacity:0.7;
}

#interests {
  margin-right: 4%;
  /* outline:deeppink solid 2px; */

}

#interests:hover {
  opacity:0.7;
}

#social:hover {
  opacity:0.7;
  outline:deeppink solid 2px;

}

#name-container {
  text-align: center;
  margin-top: 15%;
  outline:deeppink solid 2px;
  height: 58px;
}

#name {
  display:inline-flex;
  outline:deeppink solid 2px;

}

.name {
  margin: 3%;
  height: 170px;
  font-size: 600%;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

#about-section {
  height: 107px;
  font-size: 110%;
  margin-top:7%;
  font-family: 'Lato', sans-serif;
  outline:deeppink solid 2px;
  display: flex;
  color: black;
  opacity: 0.63;
  justify-content: center;
}

.aboutme {
  margin: 0.3%;
  margin-top:0.05%;
  outline:deeppink solid 2px;

}

#developer{
  margin-left: 2.5%;
  outline:deeppink solid 2px;

}

#learner{
  outline:deeppink solid 2px;

}

#agile{
  outline:deeppink solid 2px;

}

#work-section {
  height: 200px;
  outline:deeppink solid 2px;
}

#interests-section {
  height: 200px;
  outline:deeppink solid 2px;
}

#social-section {
  height: 200px;
  outline:deeppink solid 2px;
}

#headshot {
  margin-left: 7.5%;
}
