/* Home Page Styles */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  transition: height 4s;
  height: 70%
}

#navigation {
  text-align:center;
} 

#inside-nav {
  display:inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  color: grey;
  cursor: pointer;
}

#about {
  /* outline: blue solid 2px; */
  margin-right: 4%;
}

#about:hover {
  opacity:0.7;
}

#work {
  margin-right: 4%;
}

#work:hover {
  opacity:0.7;
}

#interests {
  margin-right: 4%;
}

#interests:hover {
  opacity:0.7;
}

#social:hover {
  opacity:0.7;
}

#name-container {
  text-align: center;
  margin-top: 15%;
  /* outline: purple solid; */
  height: 58px;
}

#name {
  display:inline-flex;
}

.name {
  margin: 3%;
  height: 170px;
  font-size: 200%;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

#about-section {
  height: 107px;
  font-size: 110%;
  font-family: 'Lato', sans-serif;
  /* outline: orange solid 2px; */
  display: flex;
  color: black;
  opacity: 0.63;
  justify-content: center;
}

.aboutme {
  margin: 0.3%;
  margin-top:0.05%;
}

#developer{
  margin-left: 2.5%;

}

#learner{

}

#agile{

}

#work-section {
  height: 200px;
  /* outline:lightblue 3px solid; */
}

#interests-section {
  height: 200px;
  /* outline:lightblue 3px solid; */
}

#social-section {
  height: 200px;
  /* outline:lightblue 3px solid; */
}

