/* Home Page Styles */
* p {
  font-family: 'Montserrat', sans-serif !important;
}

 a {
   color: black;
  text-decoration:none;
}

a:visited {
  text-decoration-color:darksalmon !important;
}

a:hover {
  color:darksalmon;
}

a:active {
  color: lightgreen;
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  height: 22px;
  padding-top: 47px;
  padding-bottom:50px;
  /* outline: black solid 2px; */
  color: lightgrey;
}

#about {
  margin-left: 3%;
}

#resume {
  margin-left: 3%;
  margin-right: 1%;
}

#home {
  margin-right:55%;
  margin-left: 7%;
}

/* Footer */


#insidefoot{
  top: 40%;
  position:fixed;
  /* height:171px; */
  width:100%;
  /* outline: solid  blue  3px;   */
  /* display:flex; */
  font-family: 'Montserrat', sans-serif;
  /* background-color: bisque; */
  opacity: 0.8;
}

#insidefootright {
  top: 40%;
  position:fixed;
  margin-left: 95%;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
}

#item1 {

  /* margin-left: 80%; */
}

.footeritem{
  width:60px;
  height:60px;
  color: black
}

.footeritem:hover{
  cursor: pointer;
  /* border-bottom: darksalmon solid 4px; */
}


#item1{
  transition:0.3s;
  /* outline: orange solid 2px; */
}

#item1:hover {
transform: scale(1.1);
transform: rotateZ(360deg);

}

#item2 {
  /* outline: orange solid 2px; */

  /* margin-left: 1%; */
  transition:0.3s
}

#item2:hover {
  transform: scale(1.1);
  transform: rotateZ(360deg);

}

#item3 {
  /* outline: orange solid 2px; */

  /* margin-left: 1%; */
  transition:0.3s
}
#item3:hover {
  transform: scale(1.1);
  transform: rotateZ(360deg);

}

#item4 {
  /* outline: orange solid 2px; */
/* 
  margin-left: 1%;
  margin-right:4%; */
  transition:0.3s
}

#item4:hover {
  transform: scale(1.1);
  transform: rotateZ(360deg);
}

.social {
  width: 50px;
  height:50px;
}

/* Typing Animation */
 
#testbox {
    width:  1000px;
    height:  150px;
    text-align: center;
    padding-left:100px;
    font-size:20px;
  }
  
  /* Background Image */
  #bgd-image-box {
    height: 170px;
    width:  99.8%; 
    padding-top: 53px;
    /* background-image: url("https://i.ibb.co/m0D8Pf3/rsz-12vadim-sherbakov-tciclj5ktbe-unsplash.jpg"); */
    background-repeat: no-repeat;

  }

  /* url("https://i.ibb.co/GFJzbVX/account-opacity.png"); */

/* 
  .dropbtn {
    background-color: whitesmoke;
    color: black;
    outline:blue solid  3px;
    padding: 16px;
    font-size: 120%;
    border: none;
  } */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
`  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    cursor:pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    cursor:pointer;

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  /* Styles for Skill Cards */


.container{
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin:auto;
  height: 450px;
  font-family: 'Montserrat', sans-serif !important;
}

.container .card{
  height: 450px;
  width: 437px;
  text-align:center;
  /* outline: black solid 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px; */
  /* border-radius: 16px; */
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif !important;

}

.container .card:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 24px;
}
.container .card a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif !important;

}

.container .card a img{
  padding: 16px 16px 0px 16px;
  height: 250px;
  width: 370px;
  transition: 0.3s;
}

.container .card a img:hover{
  transform: scaleX(0.9);
  width: 370px;
}

.container .card a .konten{
  padding: 0px 16px 16px 16px;
  font-family: 'Montserrat', sans-serif !important;
}

.container .card a .konten:hover{
  padding: 0px 16px 16px 16px;
  font-family: 'Montserrat', sans-serif !important;
  color:lightgreen;
}


hover

.container .card a .konten p{
  font-size: 18px;
  border-top: 1px solid lightgrey;
  font-family: 'Montserrat', sans-serif !important;
  padding-top: 19px;
  color: #1C1D1D;
  font-weight: 300;
}

.container .card a .konten p .card-text {
  font-family: 'Montserrat', sans-serif !important;
}

.konten {
  font-family: 'Montserrat', sans-serif !important;

}

#about-pic {
  background-image: url('https://i.ibb.co/VBmvz9x/bnw-matthew.jpg');
}

#about-text {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 19px;
}

#about-container {
  width: 85vw;
  height: 85vh;
  margin:auto;
}

#bnwpic {
  width: 85vw;
  height: 85vh;
}
